<div class="header-background" fxLayout="row" fxLayoutAlign="center end">

  <mat-card [class.mat-elevation-z3]="true" fxFlex="50" fxFlex.xs="90" class="myCard" fxLayoutAlign="center center">
    <span class="myPic" fxFlexAlign="start" fxFlex="20">
      <img src="../../assets/images/myPic.png">
    </span>
    <span fxFlex="30 ">
      <h3>روح الله مصلحی</h3>
      <h4>طراح و برنامه نویس وب و دسکتاپ</h4>
    </span>
    <span fxFlexAlign="center" fxFlex="27">
      <button mat-icon-button color="primary">
        <img src="../../assets/images/icons/icons8-github.svg">
      </button>
      <button mat-icon-button color="primary">
        <img src="../../assets/images/icons/icons8-instagram.svg">
      </button>
      <button mat-icon-button color="primary">
        <img src="../../assets/images/icons/icons8-linkedin.svg">
      </button>
      <button mat-icon-button color="primary">
        <img src="../../assets/images/icons/icons8-twitter.svg">
      </button>
    </span>
  </mat-card>

</div>