<mat-toolbar fxLayout="row" fxLayoutAlign="start center" [class.mat-elevation-z2]="true" class="navbar" color="primary">
  <span fxHide="true" fxHide.gt-xs="false">
    <a mat-button routerLink="/">خانه</a>
    <a mat-button routerLink="/portfolio">نمونه کار</a>
    <a mat-button routerLink="/about-me">درباره من</a>
    <a mat-button target="_blank" href="https://github.com/ruhollahm8/Personal-Blog">دریافت تم</a>
    <a mat-button routerLink="login">ورود</a>
  </span>
  <span fxHide="false" fxHide.gt-xs="true">
    <a mat-button>خانه</a>
  </span>
</mat-toolbar>